{
  "app": {
    "name": "",
    "environment": "",
    "debug": true,
    "defaultLanguage": "en-US",
    "bcryptCost": 10
  },
  "server": {
    "host": "",
    "maintenance": false,
    "port": 8080,
    "timeout": 10
  },
  "database": {
    "connection": "",
    "host": "",
    "port": 3306,
    "name": "",
    "username": "",
    "password": "",
    "options": "charset=utf8mb4&parseTime=True&loc=Local",
    "maxOpenConnections": 20,
    "maxIdleConnections": 20,
    "maxLifetime": 300,
    "autoMigrate": true
  },
  "auth": {
    "jwt": {
      "secret": "",
      "validity": 7200
    }
  },
  "logFile": "./logs/"
}